includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
        - workbench/app
